<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>saveCharsheetServlet</servlet-name>
    <servlet-class>com.mcherm.zithiacharsheet.server.SaveCharsheetServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>saveCharsheetServlet</servlet-name>
    <url-pattern>/zithiacharsheet/saveCharsheet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>dumpDBServlet</servlet-name>
    <servlet-class>com.mcherm.zithiacharsheet.server.DumpDBServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>dumpDBServlet</servlet-name>
    <url-pattern>/zithiacharsheet/dumpDB</url-pattern>
  </servlet-mapping>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>ZithiaCharsheet.html</welcome-file>
  </welcome-file-list>

</web-app>
